footer {
    text-align: center;
background-color: var(--background-titulo);
    padding: 40px;
}
footer img{
    width: 10%;
}
.copyright {
    color: var(--fuente-color-blanco);
    font-size: 13px;
    margin: 20px;
}