.formacion {
    text-align: center;
    background-color: var(--background-plomo);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.formacion__titulo {

    font-family: var(--roboto);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.formacion__list__contenido {
    width: 14rem;
    margin: 0.9rem;
    padding: 2.1rem;
    display: inline-block;
    border: 2px solid var(--background-titulo);
    border-radius: 10px;
}

.formacion__list__titulo {
    padding-bottom: 2rem;

}
.formacion__descripcion{
    text-align: center;
}

.formacion__list__contenido:hover {
    border-color:var(--efecto-color);
    color: var(--efecto-color);

}


@media screen and(min-width: 1024px) {

    .formacion__list__contenido {
        display: block;
     
    }


}


