.pasatiempos {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

.pasatiempos__titulo {

    font-family: var(--roboto);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.pasatiempos__list__contenido {
    width: 5rem;
    margin: 0.9rem;
    padding: 2.5rem;
    display: inline-block;
    border: 2px solid var(--background-titulo);
    border-radius: 10px;
}

.pasatiempos__list__titulo {
    padding-bottom: 2rem;

}


.pasatiempos__list__contenido:hover {
    border-color:var(--efecto-color);
    color: var(--efecto-color);

}


@media screen and(min-width: 1024px) {

    .pasatiempos__list__contenido {
        display: block;
       
    }


}