.proyectos {
    background-color: #fff;
    padding: 0px 0px 20px 0px;
}

.proyectos h2 {
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    text-align: center;
}

.list__pro h2 {
    padding: 0px 0px 15px 32rem;
    text-align: justify;
}

.descripcion__pro {
    padding: 0px 0px 15px 32rem;
}

.Ir__sitio {
    float: left;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 10%;
    margin: 20px 20px 20px 32rem;
    padding: 20px 50px 20px 50px;
    cursor: pointer;

}

.Ir__sitio:hover {
    background-color:  #03363C;
    
}

.Ir__git {
    float: left;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 10%;
    margin: 20px 20px 0px 0px;
    padding: 20px 50px 20px 50px;
    cursor: pointer;

}
.Ir__git:hover {
    background-color:  #03363C;;
}

.list__pro img {
    width: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.list__pro img:hover {
    width: 550px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


