.proyectos {

    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.proyectos__titulo {

    font-family: var(--roboto);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

}

.proyectos__list__contenido {
    width: 20rem;
    padding-right: 1rem;
    padding-left: 2rem;
    display: inline-block;
    margin-bottom: 1rem;

}

.proyectos__list__titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.proyectos__subtitulo {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;

}

.proyectos__boton {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.Ir__sitio {

    background-color: var(--background-negro);
    color: var(--fuente-color-blanco);
    border: 2px solid;
    border-radius: 10%;
    margin: 20px 20px;
    padding: 20px 50px 20px 50px;
    cursor: pointer;

}

.Ir__sitio:hover {
    background-color: var(--background-titulo);

}

.Ir__git {
    background-color: var(--background-negro);
    color: var(--fuente-color-blanco);
    border: 2px solid;
    border-radius: 10%;
    margin: 20px 20px;
    padding: 20px 50px 20px 50px;
    cursor: pointer;

}

.Ir__git:hover {
    background-color: var(--background-titulo);
}

.proyectos__imagen {
    width: 20rem;
    filter: drop-shadow(0px 4px 4px var(--filtro-marco));
    cursor: pointer;
}

.proyectos__imagen:hover {

    transform: scale(1.1);
    filter: drop-shadow(0px 4px 4px var(--filtro-marco));

}
