/*Section Sobre mi*/
.sobre__mi {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fuente-color-negro);
    text-align: center;
    background-color: var(--background-blanco);
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}


.perfil {
    padding-top: 5rem;
    margin-bottom: 1rem;

}


.sobre__mi p {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

.link__redes a {
    margin: 0 auto 2.5rem;
}
@media screen and (min-width: 1024px){

    .sobre__mi p{
        font-size: 1.30rem;
        margin-bottom: 2rem;
         
    }
}